
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  
html {
    background-color: #FA9C1D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
body{
    margin: 0
}
header{
    padding:12px
}
footer{
    background-color: #B8AFE6;
    margin-top:24px;
    padding:24px;
}
main{
    max-width: 800px;
    margin: auto;
}
.detail-page-book-review {
    background-color: white;
    padding: 24px;
}
.book-cover{
    width:200px;
    height:auto;
}
.book-rating{
    font-size:125%;
}
.book-authors{
    color: dimgray;
}